/*COLORS*/
/*FONTS*/
/*SIZES*/
body {
  font-family: Poppins;
  font-size: 18px;
  padding: 30px 10px;
  text-align: center;
}

.boost {
  background-color: #3b3054;
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  height: 250px;
  margin-top: 0;
  width: 100%;
}
.boost .boost-links {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 100px;
}
.boost .get-button {
  background-color: #2acfcf;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: Poppins;
  font-size: 12px;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
  width: 130px;
}

footer {
  background-color: #35323e;
  color: white;
}
footer .image-footer {
  fill: white;
  border: 10px white;
  padding-top: 20px;
  position: relative;
}
footer .footer-text {
  font-size: 12px;
}
footer .social-media-icons {
  align-items: center;
  width: 100%;
}
footer .social-media-icons img {
  margin: 10px;
}

.attribution {
  background-color: #35323e;
  color: white;
  -webkit-text-decoration: nones;
          text-decoration: nones;
}

header {
  display: flex;
  justify-content: space-between;
}
header .hamburger-icon {
  height: 30px;
}
header nav {
  background-color: #3b3054;
  border-radius: 10px;
  color: white;
  display: none;
  left: 20px;
  right: 20px;
  text-align: center;
  top: 80px;
  padding: 20px;
  position: absolute;
}
header nav a {
  color: white;
  text-decoration: none;
}
header nav li {
  margin-bottom: 10px;
}
header nav ul {
  list-style-type: none;
  padding: 0;
}
header nav .separator {
  background-color: white;
  height: 1px;
  margin: 20px 0;
}
header nav .button {
  background-color: #2acfcf;
  border-radius: 20px;
  display: block;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
  }
  header img {
    padding: 0px;
    margin-top: 30px;
    margin-left: 100px;
  }
  header .hamburger-icon {
    display: none;
  }
  header nav {
    background-color: white;
    border-radius: 0px;
    display: flex;
    height: auto;
    left: 0px;
    padding: 0px;
    position: static;
    right: 0px;
    text-align: justify;
    margin-top: 30px;
  }
  header nav a {
    color: #35323e;
    text-decoration: none;
  }
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin: 0px;
  }
  header nav li {
    margin-bottom: 20px;
    padding-right: 30px;
    padding-left: 0px;
  }
  header nav .separator {
    width: 556px;
  }
  header nav .button {
    background-color: #2acfcf;
    border-radius: 30px;
    color: white;
    display: block;
    margin-right: 80px;
    margin-top: -9px;
    text-align: center;
    padding: 10px;
    width: 100px;
  }
}
.hero {
  font-family: Poppins;
}
.hero .get-started {
  background-color: #2acfcf;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: Poppins;
  font-size: 12px;
  height: 30px;
  text-align: center;
  padding: 5px;
  padding-bottom: 20px;
  width: 130px;
}
.hero .hero-image {
  width: 60%;
}
.hero .text-hero {
  color: #bfbfbf;
  text-align: center;
}
.hero .title-hero {
  color: #232127;
  text-align: center;
}

.links {
  background-color: #3b3054;
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  font-family: Poppins;
  height: 130px;
  margin: 20px;
  margin-bottom: -65px;
  text-align: center;
  position: relative;
}
.links .addlinks {
  border-radius: 5px;
  border: none;
  font-family: Poppins;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 35px;
  text-align: center;
  top: 80px;
  width: 250px;
}
.links .button-links {
  background-color: #2acfcf;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Poppins;
  height: 33px;
  margin: 0px;
  text-align: center;
  width: 250px;
}

.info-statistics {
  background-color: #f0f1f6;
  background-size: cover;
  color: #9e9aa7;
  font-family: Poppins;
  padding-top: 40px;
}
.info-statistics h2 {
  color: #35323e;
  padding-bottom: 0px;
  padding-top: 17px;
}
.info-statistics p {
  margin: 0px;
  padding-bottom: 20px;
}

.statistics {
  align-items: center;
  background: center;
  background-color: #f0f1f6;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap*/
  width: 100%;
}
.statistics .info {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  flex-shrink: 0;
  margin: 40px;
  width: 300px;
  height: 215px;
}
.statistics .info h2 {
  color: #35323e;
  margin: 5px;
  margin-top: 14px;
}
.statistics .info p {
  color: #9e9aa7;
  font-size: 70%;
  margin-bottom: 19px;
  margin-top: 13px;
}
.statistics .vl {
  border-left: 6px solid #2acfcf;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: -40px;
}
.statistics .circle {
  background-color: #3b3054;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: 100px;
  padding: 20px;
  position: relative;
  width: 45px;
  align-items: center;
}
.statistics .statistics-image {
  position: relative;
  width: 35px;
}