.boost{
    background-color: $color-darkviolet;
    background-image: url('../images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-position: right;
    color: white;
    height: 250px;
    margin-top: 0;
    width: 100%;
    .boost-links{
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 100px
    }
    .get-button{
        background-color: $color-cyan;
        border: none;
        border-radius: 20px; 
        color: white;
        font-family: $font-family;
        font-size: 12px;
        height: 30px;
        margin-bottom: 20px;
        text-align: center;   
        padding: 5px;
        width: 130px;
    }
}

@media screen and (min-width:1024px) {
.boost {
    background-image: url('../images/bg-boost-desktop.svg');
        .boost-links {
         font-size: xx-large;
    }
    .get-button {
        height: 40px;
        font-size: unset;
        margin-top: 1%;
        width: 180px;
    }
        }
}