
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .hamburger-icon {
        height: 30px;
    }
    .menu.is-active{
        left:4%;
    }
    .menu {
        align-items: center;
        background-color: $color-darkviolet;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        left: -100vw;
        right: 20px;
        text-align: center;
        top: 80px;
        padding: 20px;
        position: fixed;
        width: 80vw;
        
            a {
            color: white;
            text-decoration: none;
            }
            li{
            margin-bottom: 10px;
            }
            ul {
            list-style-type:none;
            padding: 0;
            }
                .separator {
                    background-color: white;
                    height: 1px;
                    margin: 20px 0;
                }
                .button {
                    background-color: $color-cyan;
                    border-radius: 20px;
                    display: block;
                    padding: 10px;
                }
    }
}

@media screen and (min-width:1024px) {
    header{
        background-color: white;
        .hamburger-icon {
                display: none;
            }
        #logoheader{
            background: white;
            left: 0;
            position: relative;
            top: 30%;
            width: 20%;
            img{
                left: 25%;
                position: relative;
                top: 29%;
                width: 40%;
                }
            }
        .menu{
            background-color: white;
            display:flex;
            left:0;
            position: inherit;
            right:0;
            width: 90%;
            a {
                color: gray;
            }
            .separator {
                width: 40%;
                }
            }
            ul{
                background-color:white;
                display: flex;
                list-style-type: none;   
                width: 100%;
            }
            li {
                width: 10%;
                
                .button   {
                    position: relative;
                    top:-14%;
                    width: 100%;
                    color:white;
                }
            }
        }
    }
