header {
    .hamburger-icon {
        height: 30px;
    }
    nav{
        
        background-color: $color-darkviolet;
        border-radius: 10px;
        color: white;
        display: none;
        left: 20px;
        right: 20px;
        text-align: center;
        top: 80px;
        padding: 20px;
        position: absolute;
        a {
        color: white;
        text-decoration: none;
        }
        li{
            margin-bottom: 10px;
        }
        ul {
            list-style-type:none;
            padding: 0;
        }
        .separator {
            margin: 20px 0;
            height: 1px;
            background-color: white;
        }
        .button {
            background-color: $color-cyan;
            display: block;
            border-radius: 20px;
            padding: 10px;
        }
    }
    display: flex;
    justify-content: space-between;
}

