 .links {
    background-color:$color-darkviolet;
    background-image: url('../images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    border-radius: 10px;
    font-family: $font-family;
    height: 130px;
    margin: 20px;
    margin-bottom: -65px;
    text-align: center;
    position: relative;
        .addlinks {
            border-radius: 5px;
            border: none;
            font-family: $font-family; 
            height: 30px; 
            margin-bottom: 10px;
            margin-top:30px;
            text-align: center;
            top: 80px;
            width:250px;
        }
        .button-links{
            background-color: $color-cyan;
            border: none;
            border-radius:5px;
            color: white;
            font-family: $font-family;
            height: 33px;
            margin: 0px;
            text-align: center;
            width:250px;
        }
}

@media screen and (min-width:1024px) {
    .links {
        background-image: url('../images/bg-shorten-desktop.svg');
        left: 13%;
        position: relative;
        width: 70%;
        .addlinks {
            height: 30%;
            margin-top: 42px;
            padding-left: 1%;
            text-align: left;
            width: 60%;
        }
        .button-links {
            height: 32%;
            margin-left: 1%;
            width: 15%;
        }
        
    }
}