.info-statistics {
    background-color: #f0f1f6;
    background-size: cover;
    color: $color-grayish;
    font-family: $font-family;
    padding-top: 40px;
    h2{
        color: $color-darkgray;
        padding-bottom: 0px;
        padding-top: 17px;
    }
    p{
        margin:0px;
        padding-bottom: 20px;
    }
}
.statistics {
    align-items: center;
    background: center;
    background-color: #f0f1f6;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap*/
    width: 100%;
    .info{
        align-items: center;
        background-color: white;
        border-radius: 5px;
        flex-shrink: 0;
        margin:40px;
        width: 300px;
        height: 215px;
        h2{
            color: $color-darkgray;
            margin: 5px;
            margin-top: 14px;
        }
        p {
            color: $color-grayish;
            font-size: 70%;
            margin-bottom: 19px;
            margin-top: 13px;
        }
    }
        .vl {
            border-left: 6px solid $color-cyan;
            height: 40px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: -40px;
          }
        .circle{
            background-color: $color-darkviolet;
            border-radius:50%;
            margin-top: -40px;
            margin-left: 100px;
            padding:20px;
            position:relative;
            width: 45px;
            align-items: center;
        }
        .statistics-image {
            position: relative;
            width: 35px;
            }
        }
        
@media screen and (min-width:1024px) {
    .info-statistics {
        padding-top: 7%;
        width: 100%;
    }
    .statistics {
        flex-direction: row;
        padding-bottom: 10%;
        .info {
            left: 10%;
            position: relative;
            p {
                left: 9%;
                text-align: left;
                position: relative;
                        
            }
        }
        .circle {
             margin-left: 10%;
        }
            .vl{
                display: none;
            }
    }
}